<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter|Montserrat|Plus Jakarta Sans">



<ion-content>
 <div class="fullscreen">
  <nav>
    <ion-buttons slot="start">
      <ion-menu-button>
        <i class="ri-menu-line" ></i>
      </ion-menu-button>
    </ion-buttons>  
  </nav>
  <h6>About us</h6>
  <div class="all-content">
   <div class="head-image">
    <img src="../../assets/images/16.png" class="background-image" alt="">
    <img src="../../assets/images/hero.png" class="hero-img" alt="">
   </div>
  <div class="content">
    <p class="head">Talent spiral is an IT company which provides technical and digital solutions to individuals and organizations across the globe. It aims to provide world-class technical service to its clients. Also having its presence globally it imparts quality training to university students, professionals, and interns.</p>
    <h5>Meet Our Professional Team</h5>
    <!-- <ion-content class="ion-padding">
  
</ion-content> -->

    <div class="profile">
      <ion-accordion-group multiple="true">

    <ion-accordion value="akriti">
     <div class="profile-header" 
     style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);" 
     slot="header">
  <img src="../../../assets/images/about1.png" alt="Akriti">
  <div class="profile-text">
    <h4>Akriti</h4>
    <p>Co-Founder, CEO</p>
  </div>
  <ion-icon class="icon-toggle" name="add-outline"   style="color: white" ></ion-icon>
</div>


      <!-- Content -->
      <div class="profile-details" slot="content" color="white">
        <p>
          As a co-founder, Akriti acts as a lighthouse of knowledge for all her colleagues.
          Akriti is a leading business leader & she brings a creative edge & out-of-the-box
          thinking to our company. Akriti believes in leading by example & work-life balance.
        </p>
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>
     <ion-accordion value="jayant">
      <!-- Header -->
      <div class="profile-header"  style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);"  slot="header">
       <img src="../../../assets/images/about2.png" alt="">
        <div class="profile-text">
          <h4>Jayant Jain</h4>
          <p>Co-Founder</p>
        </div>
        <ion-icon class="icon-toggle" name="add-outline"  style="color: white"></ion-icon>
      </div>

      <!-- Content -->
      <div class="profile-details" slot="content" background="white">
        <p>
Being a tech geek and a programming pro, its no surprise that Jayant heads our Technology department. He is responsible for all IT infrastructure and technologies. He loves researching and testing new technologies. One can always find Jayant answering questions of tech newbies.
        </p>
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>
     <ion-accordion value="naman">
      <!-- Header -->
      <div class="profile-header"  style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);"  slot="header">
        <img src="../../../assets/images/about3.png" alt="Akriti">
        <div class="profile-text">
          <h4>Naman Deshmukh</h4>
          <p>Web & App Developer</p>
        </div>
        <ion-icon class="icon-toggle" name="add-outline" style="color: white"></ion-icon>
      </div>

      <!-- Content -->
      <div class="profile-details" slot="content" color="black">
        <p>
         Naman is lead web UI/UX, and app developer any company could desire. He is new tech and gadgets lover. He holds an engineering degree and an expert troubleshooter for our all web and app affairs.
        </p>
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>
     <ion-accordion value="Akansha">
      <!-- Header -->
      <div class="profile-header"  style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);"  slot="header">
        <img src="../../../assets/images/about4.png" alt="Akriti">
        <div class="profile-text">
          <h4>Akansha Sharma</h4>
          <p>Manager</p>
        </div>
        <ion-icon class="icon-toggle" name="add-outline"  style="color: white"></ion-icon>
      </div>

      <!-- Content -->
      <div class="profile-details" slot="content" background="white">
        <p>As a passionate manager, Akansha steers all the Web & App development projects. Her area of specialization being Digital Marketing, she excels in SEO, SMM, PPC, Influencer Marketing, and Email Marketing as well.
          As a co-founder, Akriti acts as a lighthouse of knowledge for all her colleagues.
          Akriti is a leading business leader & she brings a creative edge & out-of-the-box
          thinking to our company. Akriti believes in leading by example & work-life balance.
        </p>
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>
     <ion-accordion value="ankit">
      <!-- Header -->
      <div class="profile-header"  style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);"  slot="header">
        <img src="../../../assets/images/about5.png" alt="Akriti">
        <div class="profile-text">
          <h4>Ankit Shrivas</h4>
          <p>Web developer</p>
        </div>
        <ion-icon class="icon-toggle" name="add-outline"  style="color: white"></ion-icon>
      </div>

      <!-- Content -->
      <div class="profile-details" slot="content" color="black">
        <p>
          Ankit Shrivas is lead web UI/UX and online Marketing Technologist, with his passion for managing Technologist and brands He loves researching and testing new Idea. He holds an engineering degree with good experience of a period in the IT industry.
        </p>
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>
     <ion-accordion value="akriti">
      <!-- Header -->
      <div class="profile-header"  style="background: linear-gradient(to right, #3858ef, #5d5cec, #805fea, #a163e9);"  slot="header">
        <img src="../../../assets/images/about6.png" alt="Akriti">
        <div class="profile-text">
          <h4>Gurneet Kaur</h4>
          <p>Digital Marketing Specialist</p>
        </div>
        <ion-icon class="icon-toggle" name="add-outline"  style="color: white"></ion-icon>
      </div>

      <!-- Content -->
      <div class="profile-details" slot="content" background="white">
        <p>
          Having an appetite for social media trends, Gurneet Kaur specializes in SEO, Instagram Marketing, Youtube Marketing and also Graphic Designing in her hood of talents. Always being updated with the trends is what she does to excel in her arena of work.
        <ion-icon class="icon-toggle open" name="remove-outline"></ion-icon>
      </div>
      
    </ion-accordion>

    <!-- Repeat for other team members... -->

  </ion-accordion-group>
      <!-- 
  <div class="all-profile">
        <img src="../../../assets/images/about1.png" alt="">
        <div class="profile-content">
          <h4>Akriti</h4>
          <p>Co-Founder, CEO</p>
        </div>
        <h1>+</h1>
      </div>
      <div class="all-profile">
        <img src="../../../assets/images/about2.png" alt="">
        <div class="profile-content">
          <h4>Jayant Jain</h4>
          <p>Co-Founder, CTO</p>
        </div>
        <h1>+</h1>
      </div>
      <div class="all-profile">
        <img src="../../../assets/images/about3.png" alt="">
        <div class="profile-content">
          <h4>Naman Deshmukh</h4>
          <p>Web & App Developer</p>
        </div>
        <h1>+</h1>
      </div>
      <div class="all-profile">
        <img src="../../../assets/images/about4.png" alt="">
        <div class="profile-content">
          <h4>Akansha Sharma</h4>
          <p>Manager</p>
        </div>
        <h1>+</h1>
      </div>
      <div class="all-profile">
        <img src="../../../assets/images/about5.png" alt="">
        <div class="profile-content">
          <h4>Ankit Shrivas</h4>
          <p>Web developer</p>
        </div>
        <h1>+</h1>
      </div>
      <div class="all-profile">
        <img src="../../../assets/images/about6.png" alt="">
        <div class="profile-content">
          <h4>Gurneet Kaur</h4>
          <p>Digital Marketing Specialist</p>
        </div>
        <h1>+</h1>
      </div> -->
    </div>
    <div class="contact">
      <h5>Contact Us</h5>
      <p><i class="ri-phone-fill"></i> +91 8965987932</p>
      <p><i class="ri-mail-line"></i> hello&#64;talentspiral.com</p>
    </div>
    
    <div class="join">
      <h5>Join Us on</h5>
      <!-- <h6 class="info">Join Us on</h6> -->
      <div class="join-icon">
        <a href="https://www.facebook.com/talentspiral"><ion-icon class="i" name="logo-twitter"></ion-icon></a>
     <a href=""> <ion-icon class="i" name="logo-facebook"></ion-icon></a>
     <a href="https://www.instagram.com/talentspiral/"> <ion-icon class="i" name="logo-instagram"></ion-icon></a>
      <a href="https://www.linkedin.com/in/talent-spiral-285722148/"><ion-icon class="i" name="logo-linkedin"></ion-icon></a>
      </div>
        
    </div>
    
  </div>

  </div>

 </div>
</ion-content>
