<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter|Montserrat|Plus Jakarta Sans">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<ion-content>
 <div class="fullscreen">
  <nav>
   <ion-buttons slot="start">
         <ion-menu-button class="icon">
          <i class="ri-menu-line"></i>
         </ion-menu-button>
       </ion-buttons> 
  </nav>
  <h6 class="heading">All Blogs</h6>
  <div class="all-content">
    <div class="head">
      <button id="button">All</button>
      <button>Freshers</button>
      <button>Internship</button>
      <button>Technology</button>
      <button>+</button>
    </div>

    <div class="all-services">
      <div class="contain1">
        <div class="service">
          <img src="../../assets/images/blogs_images/blog1.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog2.png" alt="AI and Automation">
          <div class="content">
            <h6>Freshers</h6>
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog3.png" alt="AI and Automation">
          <div class="content">
            <h6>Freshers</h6>
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog4.png" alt="AI and Automation">
          <div class="content">
            <h6>Digital Marketing</h6>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <div class="read-all">
              <p (click)="navigateToBlogDetailsDigital()">Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog5.png" alt="AI and Automation">
          <div class="content">
            <h6>Freshers</h6>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog6.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog7.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog8.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog9.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog10.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>

        <div class="service">
          <img src="../../assets/images/blogs_images/blog11.png" alt="AI and Automation">
          <div class="content">
            <h6>Manual Testing</h6>
            <h3>Principles of Software testing- Free Manual Testing Training</h3>
            <div class="read-all">
              <p>Read More</p>
              <i class="ri-arrow-right-s-line"></i>
            </div>
          </div>
        </div>
       
      </div>
    </div>
   

  </div>

 </div>
</ion-content>
