<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans|Plus Jakarta Sans|Inter">
<ion-content fullscreen>
<ion-content fullscreen>
  <div class="container">
    <div class="top-part">
      <i  class="ri-arrow-left-s-line" id="back-icon"></i>
      <div class="signup-head">
        <div class="text-area">
        <h1 class="signup-title">REGISTER NOW</h1>
        </div>
      </div>
    </div>

    <div class="bottom-part">
          <ion-card-content>
            <form class="new-section">
              <div class="info">
                <i class="ri-user-fill"></i>
                <input type="text" placeholder="Name" class="my-new-button">
              </div>
              <div class="info">
                <i class="ri-phone-fill"></i>
                <input type="tel" placeholder="Phone no" class="my-new-button">
              </div>
              <div class="info">
                <i class="ri-mail-fill"></i>
                <input type="email" placeholder="E-mail Address" class="my-new-button">
              </div>
              <div class="info">
                <i class="ri-briefcase-fill"></i>
                <ion-select placeholder="Destination/ Title" class="custom-select">
                  <ion-select-option value="beginners">Beginners 3 Months Training</ion-select-option>
                  <ion-select-option value="advanced">Advanced 6 Months Training with 3 Months Internship</ion-select-option>
                  <ion-select-option value="video">Video Based Training + 1 Live Project</ion-select-option>
                </ion-select>
              </div>
              <div class="info">
                <i class="ri-map-pin-fill"></i>
                <input type="text" placeholder="Location" class="my-new-button">
              </div>

              <ion-button expand="block" class="ion-margin-top" type="submit" routerLink="register-second">
                REGISTER
              </ion-button>
            </form>
          </ion-card-content>
        </div>
  </div>
</ion-content>