<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans|Plus Jakarta Sans|Inter|Roboto">

<ion-content>
  <div class="fullscreen">
    <nav>
      <ion-buttons slot="start">
        <ion-menu-button>
          <i class="ri-arrow-left-s-line"></i>
        </ion-menu-button>
      </ion-buttons>
    </nav>
    <div class="all-content">
      <div class="contenar">
        <div class="image">
          <img src="../../../assets/images/courses1.png" alt="HR Course Image">
        </div>
        <div class="text">
          <h1>Professional Certification Course in (HR) Human Resource</h1>
          <p>Job Oriented HR Training Program to kickstart your Dream Career</p>
        </div>
      </div>

      <!-- Button Section -->
      <div class="button-section">
        <button class="my-buttons">Pay Now</button>
        <button class="my-buttons">Download Brochure</button>
      </div>

      <!-- Training Includes Section -->
      <div class="course-cards-details">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-card>
                <ion-card-content>
                  <img class="fees-des-icon" src="../../../assets/icon/course-01.svg" alt="">
                  <p>Fees : <span style="color: red; text-decoration: line-through;">Rs 42,000</span></p>
                  <p>Offered : <span style="color: green;">Rs 24,000/-</span></p>
                  <p class="fess-desc">Beginners 3 Months Training</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card>
                <ion-card-content>
                  <img class="fees-des-icon" src="../../../assets/icon/course-02.svg" alt="">
                  <p>Fees : <span style="color: red; text-decoration: line-through;">Rs 60,000</span></p>
                  <p>Offered : <span style="color: green;">Rs 48,000/-</span></p>
                  <p class="fess-desc">Advanced 6 Months Training With 3 months Internship</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card>
                <ion-card-content>
                  <img class="fees-des-icon" src="../../../assets/icon/course-03.svg" alt="">
                  <p>Fees : <span style="color: red; text-decoration: line-through;">Rs 17,500</span></p>
                  <p>Offered : <span style="color: green;">Rs 2799/-</span></p>
                  <p class="fess-desc">Video Based Training + 1 Live Project</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col size="6">
              <ion-card>
                <ion-card-content>
                  <img class="fees-des-icon" src="../../../assets/icon/course-04.svg" alt="">
                  <p>Launching Tuesday 12 PM IST</p>
                  <p class="fess-desc">Next Batch Launching</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <h2 class="fees-tex">Training Includes</h2>
      <div class="course-cards">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-icon name="time-outline"></ion-icon>
              <p>Lifetime Access</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="ribbon-outline"></ion-icon>
              <p>Certifications</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="laptop-outline"></ion-icon>
              <p>Live Projects</p>
            </ion-col>
            <ion-col size="3">
              <ion-icon name="briefcase-outline"></ion-icon>
              <p>100% Job Placement Assistance</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <h2 class="fees-tex">Course Modules</h2>
      <ion-accordion-group expand="inset" expandIcon="add">
        <ion-accordion value="first">
          <ion-item slot="header"  style="background: linear-gradient(to right, #3858ef, #3858ef, #5d5cec, #805fea, #a163e9); color: white;">
            <ion-label>Course Overview</ion-label>
          </ion-item>
          <div class="ion-padding accordion-head" slot="content">Our HR training course offers a comprehensive understanding of
            fundamental principles and practices in Human Resources. Suitable for aspiring HR professionals and those
            seeking to enhance existing knowledge, it provides a valuable foundation for managing people and optimizing
            organizational performance.

            Covering key areas such as recruitment, employee relations, performance management, training, compensation,
            and compliance, the course ensures a well-rounded learning experience.</div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header"  style="background: linear-gradient(to right, #3858ef, #3858ef, #5d5cec, #805fea, #a163e9); color: white;">
            <ion-label>Who is this course for</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <h1 class="accordion-head">Aspiring HR Professionals</h1>
              <li class="accordion-line"> If you are looking to kickstart your career in HR, this HR training course
                will provide you with the necessary knowledge and skills to understand the core concepts and functions
                of HR.</li>

              <h1 class="accordion-head">HR Practitioners Seeking to Enhance Skills</h1>
              <li class="accordion-line">If you are already working in HR but want to enhance your existing knowledge
                and skills, this course offers valuable insights and practical strategies to excel in your role.</li>

              <h1 class="accordion-head">Managers and Team Leaders</h1>
              <li class="accordion-line">If you are a manager or team leader who wants to gain a better understanding of
                HR practices to effectively manage your team, this course will provide you with the necessary HR
                insights and strategies.</li>

              <h1 class="accordion-head">Business Owners and Entrepreneurs </h1>
              <li class="accordion-line"> If you own a business or are an entrepreneur, understanding HR fundamentals is
                crucial for managing your workforce effectively and ensuring compliance with employment laws.</li>

              <h1 class="accordion-head">Anyone Interested in HR</h1>
              <li class="accordion-line">If you have a general interest in HR career and want to learn more about the
                principles and practices that drive organizational success through effective people management, this
                course will be beneficial.</li>
            </ul>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header"  style="background: linear-gradient(to right, #3858ef, #3858ef, #5d5cec, #805fea, #a163e9); color: white;">
            <ion-label>Curriculum</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <h1 class="accordion-head">Introduction to Human Resources course</h1>
              <li class="accordion-line"> The role and importance of HR in organizations</li>
              <li class="accordion-line">Key responsibilities and functions of HR professionals</li>
              <li class="accordion-line">Understanding the impact of HR on overall business success</li>

              <h1 class="accordion-head">Recruitment and Selection</h1>
              <li class="accordion-line">Strategies for attracting and sourcing qualified candidates</li>
              <li class="accordion-line">Effective interviewing and selection techniques</li>
              <li class="accordion-line">Evaluating candidates and making informed hiring decisions</li>

              <h1 class="accordion-head">Employee Relations</h1>
              <li class="accordion-line">Building positive employee-employer relationships</li>
              <li class="accordion-line">Handling employee grievances and conflicts</li>
              <li class="accordion-line">Promoting a harmonious work environment</li>

            </ul>
          </div>

        </ion-accordion>
        <ion-accordion value="four">
          <ion-item slot="header"  style="background: linear-gradient(to right, #3858ef, #3858ef, #5d5cec, #805fea, #a163e9); color: white;">
            <ion-label>Career Opportunities</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <h1 class="accordion-head">HR Generalist</h1>
              <li class="accordion-line"> As an HR Generalist, you will be responsible for various HR functions,
                including recruitment, employee relations, performance management, training and development,
                compensation, and benefits administration. You will work closely with employees and management to ensure
                HR practices align with organizational goals.</li>

              <h1 class="accordion-head">Recruitment Specialist</h1>
              <li class="accordion-line">As a Recruitment Specialist, you will focus on sourcing, attracting, and
                selecting qualified candidates for job openings. You will use various recruitment strategies, conduct
                interviews, and assess candidate qualifications to match them with the right positions..</li>

              <h1 class="accordion-head">Employee Relations Manager</h1>
              <li class="accordion-line">In this role, you will be responsible for building and maintaining positive
                relationships between employees and the organization. You will handle employee grievances, mediate
                conflicts, and promote a healthy and harmonious work environment.</li>

              <h1 class="accordion-head">Training and Development Coordinator</h1>
              <li class="accordion-line"> As a Training and Development Coordinator, you will design, coordinate, and
                implement employee development programs and training initiatives. You will identify training needs,
                develop training materials, and facilitate employee learning and skill enhancement..</li>

              <h1 class="accordion-head">Compensation and Benefits Specialist</h1>
              <li class="accordion-line">In this role, you will manage and administer compensation and benefits programs
                within the organization. You will analyze salary structures, conduct market research, and ensure
                competitive compensation packages and benefits offerings to attract and retain top talent.</li>
            </ul>
          </div>
        </ion-accordion>
      </ion-accordion-group>

      <!-- Course Highlights Section -->
      <div class="highlights-section">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div class="highlight-item">
                <h3>16+</h3>
                <p>TRAINING MODULES</p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="highlight-item">
                <h3>8+</h3>
                <p>Live Projects</p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="highlight-item">
                <h3>25+</h3>
                <p>AI Tools & Resources</p>
              </div>
            </ion-col>
            <ion-col size="3">
              <div class="highlight-item">
                <h3>120+</h3>
                <p>Hours of Hands-on Training</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Student Success Stories Section -->
      <h2 class="fees-tex">Student Success Stories</h2>

      <swiper-container class="student-review-swiper" #swiperEx (slideChange)="swiperSlideChanged()"
        [allowSlidePrev]="false" [pagination]="{clickable:true}">
        <swiper-slide>
          <div class="swiper-contenar">
            <div class="swiper-image">
              <img src="../../../assets/images/student.png" alt="Sanya Ansari">
              <button class="youtube-button">VIEW ON <i style="color: red; font-size: 16px;"
                  class="ri-youtube-fill"></i></button>
            </div>
            <div class="swiper-text">
              <div class="student-name">Sanya Ansari</div>
              <div class="testimonial-text">
                Being a fresher in digital marketing with a basic understanding from YouTube, enrolling in Talent Spiral
                turned out to be career-defining move. Their course and internship program equipped me with the
                necessary skills and knowledge, ultimately leading to securing a coveted digital marketing executive
                position in a reputable MNC company. I’m incredibly grateful for the invaluable opportunities Talent
                Spiral provided in launching my professional journey.
              </div>
              <div class="star-rating">★★★★★</div>
            </div>
          </div>
        </swiper-slide>

       <swiper-slide>
          <div class="swiper-contenar">
            <div class="swiper-image">
              <img src="../../../assets/images/student.png" alt="Sanya Ansari">
              <button class="youtube-button">VIEW ON <i style="color: red; font-size: 16px;"
                  class="ri-youtube-fill"></i></button>
            </div>
            <div class="swiper-text">
              <div class="student-name">Sanya Ansari</div>
              <div class="testimonial-text">
                Being a fresher in digital marketing with a basic understanding from YouTube, enrolling in Talent Spiral
                turned out to be career-defining move. Their course and internship program equipped me with the
                necessary skills and knowledge, ultimately leading to securing a coveted digital marketing executive
                position in a reputable MNC company. I’m incredibly grateful for the invaluable opportunities Talent
                Spiral provided in launching my professional journey.
              </div>
              <div class="star-rating">★★★★★</div>
            </div>
          </div>
        </swiper-slide>

         <swiper-slide>
          <div class="swiper-contenar">
            <div class="swiper-image">
              <img src="../../../assets/images/student.png" alt="Sanya Ansari">
              <button class="youtube-button">VIEW ON <i style="color: red; font-size: 16px;"
                  class="ri-youtube-fill"></i></button>
            </div>
            <div class="swiper-text">
              <div class="student-name">Sanya Ansari</div>
              <div class="testimonial-text">
                Being a fresher in digital marketing with a basic understanding from YouTube, enrolling in Talent Spiral
                turned out to be career-defining move. Their course and internship program equipped me with the
                necessary skills and knowledge, ultimately leading to securing a coveted digital marketing executive
                position in a reputable MNC company. I’m incredibly grateful for the invaluable opportunities Talent
                Spiral provided in launching my professional journey.
              </div>
              <div class="star-rating">★★★★★</div>
            </div>
          </div>
        </swiper-slide>


      </swiper-container>

      <!-- Program Advantages Section -->
      <h2 class="fees-tex">Program Advantages</h2>
      <div class="advantages-section">
        <div class="slider-component">
          <swiper-container [slidesPerView]="3" [loop]="true" [modules]="swiperModules" class="mySwiper">
            <swiper-slide class="expo">
              <div class="course first">
                <img src="../../../assets/images/program_advantage/1.png">
                <div class="text">
                  <p>Designed for Working Professionals</p>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="course second">
                <img src="../../../assets/images/program_advantage/2.png">
                <div class="text">
                  <p>Doubt Resolution Sessions</p>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="course first">
                <img src="../../../assets/images/program_advantage/3.png">
                <div class="text">
                  <p>Dedicated
                    Student Success Mentor</p>
                </div>
              </div>
            </swiper-slide>
            <swiper-slide>
              <div class="course second">
                <img src="../../../assets/images/program_advantage/4.png">
                <div class="text">
                  <p>Practical
                    Hands-on
                    Capstone Project</p>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

      <!-- Course Reviews Section -->
       <h2 class="fees-tex">Course Reviews</h2>
      <swiper-container class="student-review-swiper review" #swiperEx (slideChange)="swiperSlideChanged()"
        [allowSlidePrev]="false" [pagination]="{clickable:true}">
        <swiper-slide>
       <div class="review-section">
         <p>"Talent spiral is the best digital marketing institute in Bhopal. The curriculum was well-structured, and the instructors were experienced professionals who shared real-world examples. The course also provided hands-on assignments that allowed me to gain practical experience. It was a valuable learning experience overall. I highly recommend the digital marketing course at Talent Spiral. "</p>
      <div class="review-person">
        <img src="../../../assets/images/review/1.png" alt="">
        <div class="person-name">Apoorva Pyasi</div>
      </div> 
       </div>
      </swiper-slide>
       <swiper-slide>
       <div class="review-section">
         <p>"Talent spiral is the best digital marketing institute in Bhopal. The curriculum was well-structured, and the instructors were experienced professionals who shared real-world examples. The course also provided hands-on assignments that allowed me to gain practical experience. It was a valuable learning experience overall. I highly recommend the digital marketing course at Talent Spiral. "</p>
      <div class="review-person">
        <img src="../../../assets/images/review/1.png" alt="">
        <div class="person-name">Apoorva Pyasi</div>
      </div> 
       </div>
      </swiper-slide>
      <swiper-slide>
       <div class="review-section">
         <p>"Talent spiral is the best digital marketing institute in Bhopal. The curriculum was well-structured, and the instructors were experienced professionals who shared real-world examples. The course also provided hands-on assignments that allowed me to gain practical experience. It was a valuable learning experience overall. I highly recommend the digital marketing course at Talent Spiral. "</p>
      <div class="review-person">
        <img src="../../../assets/images/review/1.png" alt="">
        <div class="person-name">Apoorva Pyasi</div>
      </div> 
       </div>
      </swiper-slide>
      </swiper-container>

       <!-- Expert Section -->
       <h2 class="fees-tex">Our Experts</h2>
      <div class="advantages-section">
        <div class="slider-component">
          <swiper-container [slidesPerView]="2.5" [loop]="true" [modules]="swiperModules" class="mySwiper"
         >
            <swiper-slide>
              <div (click)="navigateToOurExpertAkriti()" class="experts ">
                <img src="../../../assets/images/expert_team/1.png">
              </div>
            </swiper-slide>
             <swiper-slide>
              <div class="experts ">
                <img src="../../../assets/images/expert_team/4.png">
              </div>
            </swiper-slide>
              <swiper-slide>
              <div class="experts ">
                <img src="../../../assets/images/expert_team/3.png">
              </div>
            </swiper-slide>
              <swiper-slide>
              <div class="experts ">
                <img src="../../../assets/images/expert_team/2.png">
              </div>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>

       <!-- explore corses Section -->
     <div class="courses-section">
  <div class="section-header">
    <h2>Top Popular Courses</h2>
    <a (click)="navigaterToAllCourses()">View all <i class="ri-arrow-right-s-line"></i></a>
  </div>
  <div class="slider-component">
    <swiper-container
    [slidesPerView]="1"
  [spaceBetween]="10"
  [loop]="true"
  [modules]="swiperModules"
  class="mySwiper"
  [breakpoints]="{
          '768': {
            slidesPerView: 2.5
          },
          '1024': {
            slidesPerView: 3
          }
        }"
    >
      <swiper-slide class="swiper-slide"> 
        <div class="course-card">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/1.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="inner-card-content">
              <h3>Certification Course in (HR)</h3>
              <div class="review">
                <div class="review-star">
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                </div>
                <p>4.9 / 5.0</p>
              </div>
              <div class="text-content">
                <p>18+ AI Tools & Resources</p>
                <p>100% Job placement Assistance</p>
              </div>
            </div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 80+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 3 months
              </div>
            </div>
            <div class="buttons-home">
              <button class="details">DETAILS</button>
              <button class="enroll">ENROLL</button>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="course-card">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/2.webp" alt="Certification Course in HR"> 
          </div>
    
          <div class="card-content">
            <div class="inner-card-content">
              <h3>Digital Marketing Certification <br> Course</h3>
              <div class="review">
                <div class="review-star">
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                </div>
                <p>4.9 / 5.0</p>
              </div>
              <div class="text-content">
                <p>25+ AI Tools & Resources</p>
                <p>100% Job placement Assistance</p>
              </div>
            </div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 120+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 6 months
              </div>
            </div>
            <div class="buttons-home">
              <button class="details">DETAILS</button>
              <button class="enroll">ENROLL</button>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide"> 
        <div class="course-card annesari">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/1.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="inner-card-content">
              <h3>Certification Course in (HR)</h3>
              <div class="review">
                <div class="review-star">
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                </div>
                <p>4.9 / 5.0</p>
              </div>
              <div class="text-content">
                <p>18+ AI Tools & Resources</p>
                <p>100% Job placement Assistance</p>
              </div>
            </div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 80+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 3 months
              </div>
            </div>
            <div class="buttons-home">
              <button class="details">DETAILS</button>
              <button class="enroll">ENROLL</button>
            </div>
          </div>
        </div>
      </swiper-slide>
      <swiper-slide class="swiper-slide">
        <div class="course-card annesari">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/2.webp" alt="Certification Course in HR"> 
          </div>
    
          <div class="card-content">
            <div class="inner-card-content">
              <h3>Digital Marketing Certification <br> Course</h3>
              <div class="review">
                <div class="review-star">
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                  <i class="ri-star-s-fill"></i>
                </div>
                <p>4.9 / 5.0</p>
              </div>
              <div class="text-content">
                <p>25+ AI Tools & Resources</p>
                <p>100% Job placement Assistance</p>
              </div>
            </div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 120+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 6 months
              </div>
            </div>
            <div class="buttons-home">
              <button class="details">DETAILS</button>
              <button class="enroll">ENROLL</button>
            </div>
          </div>
        </div>  
      </swiper-slide>
    </swiper-container>
  </div>
</div>


    </div>
  </div>
</ion-content>