<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter|Montserrat|Plus Jakarta Sans">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<ion-content>
 <div class="fullscreen">
  <nav>
    <i class="ri-arrow-drop-left-line" (click)="navigateToProfile()"></i>
  </nav>
  <h6>My Courses</h6>
  <div class="all-content">
    <div class="head">
      <button id="button">All</button>
      <button>Ongoing</button>
      <button>Completed</button>
    </div>

    <div class="courses-section">
      <div class="courses-container">
        <!-- Card 1 -->
        <div class="course-card" id="new-details">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/1.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="content-heading"><h3>Certification Course in (HR)</h3></div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 80+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 3 months
              </div>
            </div>
            <div class="progresh-bar"></div>
            <div class="buttons-course" >
              <button class="details">Continue</button>
            </div>
          </div>
        </div>
    
        <!-- Card 2 -->
        <div class="course-card">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/2.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="content-heading"><h3>Digital Marketing Certification Course</h3></div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 120+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 6 months
              </div>
            </div>
            <div class="buttons-course">
              <button class="details">Continue</button> 
            </div>
          </div>
        </div>
  
         <!-- Card 3 -->
         <div class="course-card">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/4.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="content-heading"><h3>Data Science Certification Course</h3></div>
            
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 80+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 3 months
              </div>
            </div>
            <div class="buttons-course">
              <button class="details">Continue</button>
            </div>
          </div>
        </div>
    
        <!-- Card 4 -->
        <div class="course-card">
          <div class="courses-head">
            <img src="../../../assets/images/home_page_images/7.webp" alt="Certification Course in HR">
            <div class="text-overlay">
            </div>
          </div>
    
          <div class="card-content">
            <div class="content-heading"> <h3>Artificial Intelligence(AI) Certification Course</h3></div>
            <hr class="line">
            <div class="duration">
              <div class="info">
                <i class="ri-time-line"></i> 80+ Hours
              </div>
              <div class="info">
                <i class="ri-calendar-line"></i> 3 months
              </div>
            </div>
            <div class="buttons-course">
              <button class="details">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   

  </div>

 </div>
</ion-content>
