<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans|Plus Jakarta Sans|Inter|Roboto">
<ion-content fullscreen>
  <div class="fullscreen">
    <nav>
      <i (click)="navigateToHomePage()" class="ri-arrow-left-s-line" id="back-icon"></i>
    </nav>
    <div class="text-area">
      <h1>IT Training Internship & Certifications</h1>
    </div>
    <div class="inter-image">
      <img src="../../../assets/images/service7.png">
    </div>

    <div class="courses-section">
      <div class="courses-container">
        <div class="card">
          <div class="inner-card">
            <div class="icon"><i class="ri-group-3-fill"></i></div>
            <h3>EMPLOYER</h3>
            <p>
              Want to hire best talent from the market, click on the below link to post internship opportunities.
            </p>
          </div>
          <button class="post-btn">POST</button>
        </div>

        <div class="card">
          <div class="inner-card">
            <div class="icon"><i class="ri-graduation-cap-fill"></i></div>
            <h3>EMPLOYER</h3>
            <p>
             If you are a student seeking internship opportunities, please click on below link to get best opportunities from top companies.
            </p>
          </div>
          <button class="post-btn">SEARCH</button>
        </div>

      </div>
    </div>
  </div>
</ion-content>