// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-tab-bar-background: #3d33ab;
    --ion-tab-bar-color: #aaa;
    --ion-tab-bar-color-selected: #fff;
  }
  