<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter|Montserrat|Plus Jakarta Sans">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<ion-content>
    <div class="fullscreen">
      <nav>
        <i class="ri-arrow-drop-left-line" (click)="navigateToProfile()"></i>
      </nav>
      <h6>Technical Assessments</h6>
      <div class="all-content">
        <div class="courses-section">
          <div class="courses-container">
            <!-- Card 1 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Assessment Test Paper</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum est lacus.
                </p>
              </div>
              <button class="post-btn">START NOW</button>
            </div>

            <!-- Card 2 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Digital marketing & SEO assessment test</h3>
                <p>
                  If you are a student seeking internship opportunities, please click on below link to get best opportunities from top companies.
                </p>
              </div>
              <button (click)=" navigateToDigitalMarketingDetails()" class="post-btn">START NOW</button>
            </div>

            <!-- Card 3 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Assessment test for MBA</h3>
                <p>
                  Practice your interview skills with our simulated interview sessions.
                </p>
              </div>
              <button class="post-btn">START NOW</button>
            </div>

            <!-- Card 4 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Cloud Assessment Test 2019</h3>
                <p>
                  Test your coding skills with real-world programming challenges.
                </p>
              </div>
              <button class="post-btn">START NOW</button>
            </div>

            <!-- Card 5 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Assessment for Anchoring</h3>
                <p>
                  Test your coding skills with real-world programming challenges.
                </p>
              </div>
              <button class="post-btn">START NOW</button>
            </div>

            <!-- Card 6 -->
            <div class="card">
              <div class="inner-card">
                <div class="box"></div>
                <h3>Assessment test for internship (Oriental)</h3>
                <p>
                 zLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut fermentum est lacus
                </p>
              </div>
              <button class="post-btn">START NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  
