<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans|Plus Jakarta Sans|Inter|Roboto">
<ion-content fullscreen>
  <div class="container">
    <nav>
      <i (click)=" navigateToTestPage()" class="ri-arrow-left-s-line" id="back-icon"></i>
    </nav>
    <div class="text-area">
      <h1>Digital marketing & SEO assessment test</h1>
    </div>
    <div class="inter-image">
      <img src="../../../assets/images/service10.png">
    </div>

    <div class="courses-section">
      
    </div>
  </div>
</ion-content>