<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen Sans|Plus Jakarta Sans|Inter|Roboto">
<ion-content fullscreen>
  <div class="container">
    <i (click)="navigateToSingIn()" class="ri-arrow-left-s-line" id="back-icon"></i>
    <div class="text-area">
      <h1 class="signup-title">Forgot Password?</h1>
      <p class="signup-subtitle">No stress! Just enter your registered email and we’ll help you get back in</p>
    </div>
    <img src="../../assets/icon/forget-password.png">

    <ion-card-content class="bottom-part">
      <form>
        <input type="text" placeholder="E-mail Address" class="my-new-button">
        <!-- <input type="text" placeholder="New Password" class="my-new-button">
        <input type="text" placeholder="Confirm Password" class="my-new-button"> -->
        <ion-button (click)="navigateToSingIn()" expand="block" class="ion-margin-top" type="submit" routerLink="/register-second">
          DONE<i class="ri-arrow-right-s-line"></i>
        </ion-button>
        <a (click)="navigateToSingIn()">Sign in</a>
      </form>
    </ion-card-content>
  </div>
</ion-content>