<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter|Montserrat">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<ion-content fullscreen>
  <div class="fullscreen">
    <div class="head-section">
      <div class="header-icons">
        <i class="ri-arrow-drop-left-line" (click)="navigateToProfile()"></i>
        <h6>EDIT PROFILE</h6>
      </div> 

      <div class="user">
        <i class="ri-user-fill"></i>
      </div>
    </div>
     <div class="user-top">
      <div class="user-details">
        <div class="info">
            <i class="ri-user-fill" id="icon"></i>
            <h3>Name</h3>
        </div>
        <div class="info">
          <i class="ri-account-circle-fill" id="icon"></i>
          <h3>Username</h3>
      </div>
      <div class="info">
        <i class="ri-mail-fill" id="icon"></i>
        <h3>Email Address</h3>
    </div>
    <div class="info">
      <i class="ri-phone-fill" id="icon"></i>
      <h3>Phone No.</h3>
  </div>
  <div class="info">
    <i class="ri-key-fill" id="icon"></i>
    <h3>Password</h3>
</div>
      </div>

      <button class="ion-margin-top" type="submit">
        DONE
      </button>
    </div>
    
  </div>
</ion-content>